*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Overpass", sans-serif;
}

.navbar {
  width: 100%;
  background-color: #ffd8d8;
  font-family: "Overpass", sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 70px;
  margin: 0 auto;

  h1 {
    a {
      text-decoration: none;
      color: #000;
    }
  }

  &-ul {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    align-items: center;

    li {
      list-style: none;

      a {
        color: #bd3535;
        text-decoration: none;
      }
    }
  }
}

.story-container {
  padding: 2rem 3rem;
  margin: 0 10%;
  border-radius: 5px;
  height: 150vh;

  .main-heading {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    color: #a81c42;
  }
}

.story-btn-container {
  display: flex;
  flex-direction: row;
  margin-left: 2rem;

  .story-btn {
    display: flex;
    justify-content: space-around;
    background-color: #fffdfe;
    padding: 0.5rem 0.5rem;
    width: 5rem;
    border: 2px solid #fcbecf;
    border-radius: 5px;
    margin-right: 1rem;
    align-items: center;
    font-size: 0.95rem;
    cursor: pointer;
  }

  .comments-btn {
    width: 7rem;
  }

  .share-btn {
    width: 6rem;
  }
}

.story-body {
  background-color: #fff0f4;
  padding: 2.5rem 1.5rem;
  border-radius: 7px;
  margin-bottom: 2rem;

  .story-content {
    line-height: 1.5rem;
    font-size: 1.05rem;

    padding: 2rem 2rem;
    color: #88243f;
  }
}

.story-owner-details {
  display: flex;

  h3 {
    margin: 0;
  }

  &-credentials {
    margin-top: 10px;
    margin-left: 15px;

    h3 {
      font-weight: 500;
      font-size: 1.1rem;
      margin-bottom: 0.15rem;
    }

    p {
      color: grey;
      font-size: 0.9rem;
    }
  }
}

.footer {
  height: 120px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-family: "Overpass", sans-serif;
  margin: 0 auto;
  background-color: #ffd8d8;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    gap: 180px;
  }

  &-first {
    width: 24%;
    font-size: 1.1rem;
    text-align: right;
    font-weight: 600;
  }

  &-middle {
    font-weight: normal;
  }

  &-last {
    font-weight: normal;
    width: 24%;
  }
}

.owner-pic {
  width: 5.8%;
  border-radius: 100px;
  z-index: 99;
  margin-left: 29.3px;
}

.modal-box-form {
  height: 56vh;
  padding: 1rem 1rem;
  width: 78%;
  margin-left: 10%;
  background-color: rgb(226, 226, 226);
  z-index: 100;
  position: absolute;

  a {
    border: 1px solid black;
    padding: 1rem 2rem;
  }
}

label {
  input {
    border: 0;
  }

  textarea {
    border: 0;
  }

  display: inline-block;
}

.mailUs {
  // border: 1px solid red;
  text-align: center;
  margin-bottom: 1rem;
  // cursor: pointer;

  p {
    padding: 1rem;
    color: white;
    display: inline-block;
    border-radius: 5px;
    background-color: rgb(255, 90, 118);
  }
  .email {
    text-decoration: none;
    color: white;

    &:hover {
      text-decoration: underline;
    }
  }
}
